@model CarRentalSystem.Models.AssignInspector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignInspector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspector.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspector.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssInspId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
