@model CarRentalSystem.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankStatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankStatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankStatContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankStatContent)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
