@model CarRentalSystem.Models.RentalHandover
@using CarRentalSystem.Models
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Create";
    string bookID = Session["BookingId"] as string;


}

<style>
    #signature-pad {
        width: 400px;
        height: 200px;
        border: 5px solid black;
    }

    #Patientsignature-pad {
        width: 400px;
        height: 200px;
        border: 5px solid black;
    }
</style>
<div style="padding:5%;padding-top:2%">
    <h2>Create</h2>
    <div style="padding-left:6%">
        <h4>Handover Vehicle</h4>
    </div>

    <hr />
    <div style="padding-left:14%">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })







                @if (bookID != null)
                {
                    int bookId = int.Parse(bookID);
                    var book = db.Bookings.Where(x => x.BookingId == bookId).FirstOrDefault();
                    <div class="form-group">
                        <label>Vehicle</label>
                        <div class="col-md-10">
                            <label> @book.Car.Name</label>
                        </div>
                    </div>
                }





                <div class="form-group">
                    @Html.LabelFor(model => model.HandoverDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HandoverDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:35%" } })
                        @Html.ValidationMessageFor(model => model.HandoverDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HandoverTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HandoverTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:35%" } })
                        @Html.ValidationMessageFor(model => model.HandoverTime, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-10">
                        <p>Client Signature:</p>
                        <div id="signatureContainer" style="position: relative;">
                            <canvas id="signature-pad" width="500" height="200"></canvas>

                        </div>
                        @Html.HiddenFor(model => model.Signature, new { id = "signature-data" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="save-btn" type="submit" value="Create" class="btn btn-primary" style="width:35%" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<script>
    $(document).ready(function () {
        // Initialize the signature pad
        var canvas = document.getElementById('signature-pad');

        var signaturePad = new SignaturePad(canvas);


        // Handle the save button click event
        $('#save-btn').click(function () {
            // Get the signature data URL and set it as a hidden field value
            var signatureData = signaturePad.toDataURL();

            $('#signature-data').val(signatureData);


            // Submit the form
            $('form').submit();
        });


    });


</script>
