@model IEnumerable<CarRentalSystem.Models.Invoice>

@{
    ViewBag.Title = "Index";
}
<div style="padding:5%;padding-top:2%">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatePaymentFee)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Penalty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LatePaymentFee)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.InvId }) |
                   
                    @Html.ActionLink("Delete", "Delete", new { id = item.InvId })
                </td>
            </tr>
        }

    </table>
    </div>